<h2>Activity</h2>

<% form_tag request.path, :method => :get do %>
  <%= select_tag :type, options_for_select(@bounce_types, @bounce_type), :onchange => "this.form.submit();" %>
  <%= text_field_tag "q", params[:q], :placeholder => 'Search by email or subject…' %>
  <%= submit_tag 'Search', :disable_with => 'Searching...' -%>
<% end %>


<%- if !@messages.blank? -%>
  <%- date = nil -%>
  <%- @messages.each do |message| -%>
    <%- if date.blank? || date.to_date != message['date'].to_date -%>
      <div class="activity-date">
        <%- if message['date'].today? -%>
          Today
        <%- else -%>
          <%= message['date'].strftime('%B %d, %Y') %>
        <%- end -%>
      </div>
      <hr class="black"/>
      <%- date = message['date'] -%>
    <%- end -%>
    <div class="activity-item <%= bounce_type(message['bounce_type']).dasherize %>">
      <span class="address"><%= link_to message['address'], ses_machine_message_path(:id => message['_id']) %></span>
      <br/>
      <div class="status">
        <%= bounce_type(message['bounce_type']).humanize %> &mdash; <%= message['date'].strftime('%d.%m.%Y %l:%M %p') %>
      </div>
      <div class="subject"><%= message['subject'] %></div>
      <div class="clear"></div>
    </div>
  <%- end -%>
  <%= will_paginate @messages.paginate(@page, @per_page, @messages_count) unless ENV['RAILS_ENV'].eql?('test') %>
<%- else -%>
  No messages
<%- end -%>
